<!DOCTYPE html>
<html>
  <head>
    <title> Influensta</title>
   <!-- <link rel='stylesheet' href='/stylesheets/style.css' />  -->
   <div class="ui menu" style="margin-top: 0em;">
    <div class="header item">
      <a href="/">Our Company</a> 
    </div>
    <a class="item">
      About Us
    </a>
    <a class="item" href="/influencer/getin">
      influencer signup
    </a>
    <a class="item">
      Locations
    </a>
  </div>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  
  </head>
  <body>