<%include ../partials/header%>
<h1>Please register</h1>
<form action="/influencer" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="submit" value="register"> 

</form>


<%include ../partials/footer%>